.pms{
	position:fixed;
	right:30px;
	height:35px;
	width:220px;
	bottom:30px;
	box-sizing:border-box;
	display:none;
}
.pms .panel{
	padding-bottom:0px;
}
.pms.narrow.visible, .pms.wide{
	display:block;
}
.pms.narrow{
	width:100%;
	top:40px;
	bottom:20px;
	left:0px;
	right:0px;
	height:auto;
}
.pms .inner{
	width:100%;
	border-radius:4px;
	border: 2px solid rgb(197, 68, 62);
    background-color: rgb(238, 238,238);
	box-sizing:border-box;
    float: left;
	display:block;
}
.pms.narrow .inner{
	max-height:100%;
	height:auto;
}
.pms.wide .inner{
	height:100%;
}
.pms .heading-narrow{
	position:relative;
	display:none;
	border-bottom:2px solid rgb(215, 215,215);
	height:25px;
}
.pms.narrow .heading-narrow{
	display:inline-block;
}
.pms.narrow .heading-narrow .chat,
.pms.narrow .heading-narrow  .online{
	line-height:24px;
}
.pms.narrow .heading-narrow .chat{
	position:absolute;
	left:0px;
	right:23px;
	height:100%;
}
.pms.narrow .heading-narrow .online{
	height:100%;
	display:inline-block;
}
.pms .heading-narrow .close{
	width:22px;
	height:22px;
	right:1px;
	top:1px;
	position:absolute;
	cursor:pointer;
}
.pms.expanded{
	height:auto;
}
.pms .unexpanded{
	display:none;
	width:100%;
	height:100%;
	padding-left:10px;
	padding-top:4px;
	cursor:pointer;
}
.pms .unexpanded .unexpanded-message{
	width:24px;
	height:24px;
	position:relative;
	
}
.pms .unexpanded .number-box{
	width:16px;
	height:16px;
	position:absolute;
	left:24px;
	top:3px;
	z-index:2;
}

.pms .unexpanded .number-box .text-block{
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
    font-size: 12px;
    font-family: verdana, geneva, sans-serif;
	font-weight:bold;
	color: #333333;
	z-index:2;
}

.pms .unexpanded.visible{
	display:inline-block;
}
.pms .expanded-heading{
	width:100%;
	height:35px;
	display:none;
	cursor:pointer;
	padding-top:5px;
	border-bottom:2px solid rgb(215, 215,215);
}
.pms .expanded-heading span, .pms .expanded-heading .text-block{
	float:left;
	width:100%;
	font-size:12px;
	text-align:left;
	padding-left:12px;
}
.pms .expanded-heading .text-block{
	font-size:10px;
}
.pms .expanded-heading span{
	font-size:12px;
	font-weight:bold;
}


.pms.narrow .heading-narrow  .online,
.pms.narrow .heading-narrow .chat {
    font-family: verdana, geneva, sans-serif;	
}
.pms.narrow .heading-narrow .chat{
	padding-left:3px;
	font-size:12px;
	font-weight:bold;
}
.pms.narrow .heading-narrow  .online{
	padding-left:2px;
	font-size:12px;
	font-weight:bold;
	color: #333333;
}
.pms.wide .expanded-heading.visible{
	display:inline-block;
}
.pms .search{
	width:100%;
	display:none;
	height:23px;
	float:right;
	position:relative;
	border-top:2px solid rgb(215, 215,215);
	margin-top:-4px;
}
.pms .search.visible, .pms.narrow .search{
	display:inline-block;
}
.pms .search .image{
	position:absolute;
	left:3px;
	top:3px;
	height:18px;
	width:18px;
}
.pms .search  .text{
    position: absolute;
    left: 22px;
    right: 0px;
    height: 100%;
	padding-left:2px;
}
.pms .search  .text .text-box{
	height:100%;
	width:100%;
	background-color:transparent;
	font-size: 10px;
    font-family: verdana, geneva, sans-serif;
	padding-left:2px;
}
.pms .entries {
	min-height:100px;
	display:none;
}
.pms .entries.visible {
	display:inline-block;
}
.pms .entries .pms-entry{
	height:42px;
	padding-left:2px;
}
.pms .entries .pms-entry .multimedia-entry{
	height:40px;
	width:40px;
	position:relative;
}

.pms .entries .pms-entry .multimedia-entry  .content-area{
	width: auto;
    height: auto;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.pms .entries .pms-entry .multimedia-entry  .content-area .thumbnail,
.pms .entries .pms-entry .multimedia-entry  .content-area .image{
	position:absolute;
	height:100%;
	width:100%;
}
.pms .entries .pms-entry .multimedia-entry  .content-area .image{
	display:none;
	z-index:2;
}
.pms .entries .pms-entry .multimedia-entry  .content-area .image.visible{ display:block;}


.pms-opens{
	position:fixed;
	left:10px;
	bottom:30px;
	right:260px;
	height:1px;
	background-color:red;
	display:none;
}
.pms-opens.visible{
	display:block;
}

.pms-opens .pm-window{
	height:100%;
	width:300px;
	position:relative;
    bottom: 0px;
	float:left;
	margin-right:10px;
}

.pms-opens .pm-window .pm-window-inner {
	border-radius:4px;
	border: 2px solid rgb(197, 68, 62);
    background-color: rgb(238, 238,238);
	box-sizing:border-box;
	width:100%;
	position:absolute;
	bottom:0px;
	height:35px;
	overflow:hidden;
}
.pms-opens .pm-window.expanded  .pm-window-inner{
	height:300px;
}
.pms-opens .pm-window.expanded  .pm-window-inner .tab{
	height:35px;
}
.pms-opens .pm-window .pm-window-inner .tab {
	width:100%;
	height:100%;
	border-bottom:2px solid rgb(215, 215,215);
	overflow:hidden;
	cursor:pointer;
	position:relative;
    outline:none;
}
.pms-opens .pm-window .pm-window-inner .tab  .multimedia-entry{
	height:33px;
    width: 33px;
}

.pms-opens .pm-window .pm-window-inner .tab .multimedia-entry .content-area{
	position:relative;
}
.pms-opens .pm-window .pm-window-inner .tab  .multimedia-entry .content-area,
.pms-opens .pm-window .pm-window-inner .tab  .multimedia-entry .content-area .thumbnail,
.pms-opens .pm-window .pm-window-inner .tab  .multimedia-entry .content-area .default{
	height:100%;
    width: 100%;
	left:0px;
}
.pms-opens .pm-window .pm-window-inner .tab  .multimedia-entry .content-area .thumbnail,
.pms-opens .pm-window .pm-window-inner .tab  .multimedia-entry .content-area .default{
	position:absolute;
}


.pms-opens .pm-window .pm-window-inner .tab .title {
	position:absolute;
	left:33px;
	right:28px;
	top:0px;
	height:100%;
	width:auto;					
	line-height:33px;
	text-align:left;
	padding-left:3px;
    font-size: 12px;
    font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.pms-opens .pm-window .pm-window-inner .tab .close {
	position:absolute;
	right:8px;
	top:0px;
	width:22px;
	height:22px;
	top:6px;
	cursor:pointer;
	display:none;
}
.pms-opens .pm-window .pm-window-inner .tab .close img{
	width:100%;
	height:100%;
}
.pms-opens .pm-window.expanded .pm-window-inner .tab .close {
	display:inline-block;
}
.pms-opens .pm-window .pm-window-inner .pm {
    position: absolute;
    top: 36px;
    bottom: 0px;
	width:100%;
	display:none;
}
.pms-opens .pm-window.expanded .pm-window-inner .pm {
	display:block;
}
.pms-opens .pm-window .pm-window-inner .pm  .pm-inner{
    height:100%;
	width:100%;
}
.pms-opens .pm-window .pm-window-inner .pm  .pm-inner .pm-messages{
	position:absolute;
    height:auto;
	top:0px;
	bottom:50px;
	width:100%;
    background-color: #ecedf4;
	padding-left:5px;
	padding-right:5px;
	box-sizing:border-box;
	overflow-y: scroll;
}
.pms-opens .pm-window .pm-window-inner .pm  .pm-inner .type-box{
	position:absolute;
    height:20px;
	bottom:30px;
	width:100%;
	border-top:2px solid rgb(215, 215,215);
}
.pms-opens .pm-window .pm-window-inner .pm  .pm-inner .type-box .text-box{
	height:100%;
	width:100%;
	border:0;
}
.pms-opens .pm-window .pm-window-inner .pm  .pm-inner .menu{
    height:30px;
	position:absolute;
	bottom:0px;
	width:100%;
	padding:3px;
	padding-top:3px;
	box-sizing:border-box;
}
.pms-opens .pm-window .pm-window-inner .pm  .pm-inner .menu .emoticons{
	position:relative;
	float:right;
	width:26px;
	height:26px;
	cursor:pointer;
}
.pms-opens .pm-window .pm-window-inner .pm  .pm-inner .pm-messages .pm-message{
	margin-top:6px;
	width:100%;
	height:auto;
	display:inline-block;
    box-sizing: border-box;
}
.pms-opens .pm-window .pm-window-inner .pm  .pm-inner .pm-messages .pm-message.me{

}
.pms-opens .pm-window .pm-window-inner .pm  .pm-inner .pm-messages .pm-message .pm-message-inner{
	max-width:100%;
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-family: verdana, geneva, sans-serif;
	font-size:13px;
	background-color:#333333;
	color:#dddddd;
	padding:6px;
	border-top-left-radius:0px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
    width: auto;
    word-wrap: break-word;
    display: inline;
    position: relative;
    vertical-align: baseline;
	float:left;
	min-height:10px;
}
.pms-opens .pm-window .pm-window-inner .pm  .pm-inner .pm-messages .pm-message.me .pm-message-inner{
	float:right;
	background-color:#0099FF;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:0px;
}