.pms{
	position:fixed;
	right:30px;
	height:35px;
	width:170px;
	bottom:30px;
	border-radius:4px;
	border: 2px solid rgb(197, 68, 62);
    background-color: rgb(238, 238,238);
	box-sizing:border-box;
	display:none;
}
.pms.narrow.visible, .pms.wide{
	display:block;
}
.pms.narrow{
	width:100%;
	top:40px;
	bottom:20px;
	left:0px;
	right:0px;
}
.pms .heading-narrow{
	display:none;
}
.pms.narrow .heading-narrow{
	display:inline-block;
}
.pms.expanded{
	height:80%;
}
.pms .unexpanded{
	display:none;
	width:100%;
	height:100%;
	padding-left:10px;
	padding-top:4px;
	cursor:pointer;
}
.pms .unexpanded .unexpanded-message{
	width:24px;
	height:24px;
	position:relative;
	
}
.pms .unexpanded .number-box{
	width:16px;
	height:16px;
	position:absolute;
	left:24px;
	top:1px;
	z-index:2;
}
.pms .unexpanded .number-box .text-block{
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
    font-size: 12px;
    font-family: verdana, geneva, sans-serif;
	z-index:2;
	font-weight:bold;
	color: #333333;
}
.pms .unexpanded.visible{
	display:inline-block;
}
.pms .expanded-heading{
	width:100%;
	height:35px;
	display:none;
	cursor:pointer;
	padding-top:5px;
	border-bottom:2px solid rgb(215, 215,215);
}
.pms .expanded-heading span, .pms .expanded-heading .text-block{
	float:left;
	width:100%;
	font-size:12px;
	text-align:left;
	padding-left:12px;
}
.pms .expanded-heading .text-block{
	font-size:10px;
}
.pms .expanded-heading span{
	font-size:12px;
	font-weight:bold;
}
.pms .expanded-heading.visible{
	display:inline-block;
}
.pms .search{
	width:100%;
	display:none;
	height:20px;
	float:right;
	position:relative;
	border-top:2px solid rgb(215, 215,215);
	margin-top:-4px;
}
.pms .search.visible{
	display:inline-block;
}
.pms .search .image{
	position:absolute;
	left:3px;
	top:3px;
	height:18px;
	width:18px;
}
.pms .search  .text{
    position: absolute;
    left: 22px;
    right: 0px;
    height: 100%;
	padding-left:2px;
}
.pms .search  .text .text-box{
	height:100%;
	width:100%;
	background-color:transparent;
	font-size: 12px;
    font-family: verdana, geneva, sans-serif;
	padding-left:2px;
}